/*FONTS*/
$font-main: orbitron;
$font-main-src: url("../../fonts/orbitron/Orbitron-Medium.woff") format("woff");

$font-secondary: lato;
$font-secondary-src: url("../../fonts/lato/Lato-Medium.woff") format("woff");

/*COLOR*/
$color-main: #840204;

$color-bg: #f7f7f7;

$color-table: rgb(204, 204, 204);
$color-table-light: rgb(222, 222, 222);
$color-table-dark: #dfdfdf;


