@import '../util/vars';

@font-face
{
    font-family: $font-main;
    src: $font-main-src;
}

@font-face
{
    font-family: $font-main;
    font-weight: bold;
    src: $font-main-src;
}

@font-face
{
    font-family: $font-secondary;
    src: $font-secondary-src;
}